<div class ="jumbotron">
	<heading>
		<title>The Life and Death of Garen Tanielian</title>
	</heading>
	<body>
	<h1>Directory</h1>
		<p>
			<ul>
				<li><a href="about.html">About</li>
				<li><a href="photos.html">Photos</li>
				<li><a href="legacy.html">Legacy</li>
				<li><a href="gayness.html">Gayness</li>
			</ul>
		</p>
	</body>
</div>