<div class="container">
	<div class="jumbotron center">
			<h1>Garen is really gay</h1>
			<p>Garens gayness exceeds all amounts of gayness ever.</p>
	</div>
	<div class="panel panel-default">
		<h2 class="center">About Garen's Gayness</h2>
		<p class="center">Garens gayness exceeds all amounts of gayness ever. He is the the epitomal meaning of all gay ever in the world. If he were to be any less gay, it would'nt be possible. Garen is so gay, that he invented gayness. All gay people look up to how gay Garen is. He is the epitome of gay.</p>
	</div>
</div>