<div>
	<head>
		<link rel="stylesheet" type="text/css" href="stylesheet.css">
		<title>About Garen</title>
	</head>
	<body>
		<h1>Garen is gay</h1>
		<p id="rcorners1">Garens gayness exceeds all amounts of gayness ever. He is the the epitomal meaning of all gay ever in the world.</p>
	</body>
</div>