<html>
	<head>
		<link rel="stylesheet" type="text/css" href="stylesheet.css">
		<title>Garen's Gay Photos</title>
		<body>
		<h1>
			Gay as fuck pictures of Garen
		</h1>
			<p id="rcorners2"><img src="photos/garen1.jpeg" height="470px" width="270px"></p>
		</body>
	</head>
</html>